@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
  font-family: 'Ubuntu', sans-serif; 
  background: #E7EDEF;
  color: #575757;
}

header {
  background: #575757;
  color: #FFF;
  font-size: 28px;
  display: flex;
  padding: 16px;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(201,201,201,1);
  -moz-box-shadow: 0px 5px 6px 0px rgba(201,201,201,1);
  box-shadow: 0px 5px 6px 0px rgba(201,201,201,1);
}

header h1 {
  margin-left: 16px;
  font-weight: 500;
}

.fa-guitar {
  background: -webkit-linear-gradient(#49debe, #7bd0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main h2 {
  font-size: 28px;
  font-weight: 500;
}

.chords {
  display: flex;
  justify-content: center;
}

.chord-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 300px;
}
  
.chord-box {
  width: 135px;
  height: 135px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(230,230,230,1);
  -moz-box-shadow: 0px 5px 6px 0px rgba(230,230,230,1);
  box-shadow: 0px 5px 6px 0px rgba(230,230,230,1);
}