@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
    font-family: 'Ubuntu', sans-serif; 
}

.chords {
  display: flex;
  justify-content: center;
}

.chord-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 300px;
  }
  
  .chord-box {
    width: 135px;
    height: 135px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }