@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
  font-family: 'Ubuntu', sans-serif; 
  background: #E7EDEF;
  color: #575757;
}

header {
  background: #575757;
  color: #FFF;
  font-size: 28px;
  display: flex;
  padding: 16px;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(201,201,201,1);
  -moz-box-shadow: 0px 5px 6px 0px rgba(201,201,201,1);
  box-shadow: 0px 5px 6px 0px rgba(201,201,201,1);
}

header h1 {
  margin-left: 16px;
  font-weight: 500;
}

.fa-guitar {
  background: -webkit-linear-gradient(#49debe, #7bd0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main h2 {
  font-size: 28px;
  font-weight: 500;
}

.chord-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 300px;
}
  
.chord-box {
  width: 135px;
  height: 135px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(230,230,230,1);
  -moz-box-shadow: 0px 5px 6px 0px rgba(230,230,230,1);
  box-shadow: 0px 5px 6px 0px rgba(230,230,230,1);
}

#generate {
  font-family: 'Ubuntu', sans-serif; 
  font-size: 28px;
  font-weight: 500;
  color: #FFF;
  padding: 20px 30px;
  border-radius: 50px;
  border: none;
  background: rgb(73,222,190);
  background: linear-gradient(90deg, rgba(73,222,190,1) 0%, rgba(123,208,240,1) 100%);
}

.fa-sync-alt {
  padding-right: 16px;
}